<section class="hfe-contribution-card" (click)="toogleForm()">
  <div class="hfe-contribution-card__content">
    <span class="hfe-contribution-card__description" [ngClass]="{'show-more': showMoreActive}" *ngIf="!isEditionTitle">
      {{title}}
    </span>
    <input [ngClass]="{'error': !isValidTitle}" (change)="validateTitle()" class="hfe-contribution-card__input" (click)="stopPropagation($event)"
      type="text" [(ngModel)]="contributionCopy.title" *ngIf="isEditionTitle" />
    <div class="hfa-form__error" *ngIf="!isValidTitle && isEditionTitle">
      {{'form.validations.titleRequired' | translate}}</div>
    <div class="hfe-contribution-card__button" [ngClass]="{'show-more': showMoreActive}" *ngIf="displayShowMoreButton && !isEditionTitle">
      <div (click)="toggleShowMore($event)">{{translateKey | translate}}</div>
    </div>
    <div class="hfe-contribution-card__details">
      <span class="u-mr-0">
        {{'card.creation' | translate}}
      </span>
      <span class="hfe-contribution-card__separator">
        {{contributionCopy.creationDate | date:'MM/dd/yyyy'}}
      </span>
      <span class="u-mr-0" *ngIf="contribution.targetDate">
        {{'card.target' | translate}}
      </span>
      <span class="hfe-contribution-card__separator" *ngIf="contributionCopy.targetDate">
        {{contributionCopy.targetDate | date:'MM/dd/yyyy'}}
      </span>
      <span class="hfe-contribution-card__status" [ngClass]="{'statusActive': contributionCopy.status.id === 1}">
        {{contributionCopy.status.description}}
      </span>
    </div>
  </div>
  <div class="hfe-contribution-card__edit" (click)="toggleEditTitle($event)" [ngClass]="{'editionMode': isFormOpen, 'editTitleEnable': isEditionTitle }">
    <img class="hfe-contribution-card__icon" src="assets/images/pencil.svg" />
  </div>
  <div class="hfe-contribution-card__bar">
    <app-range-slider [disabled]="!isFormOpen" (rangeChanged)="onRangeChange($event)" (click)="stopPropagation($event)" [progressPercentage]="contributionCopy.range"></app-range-slider>
  </div>
</section>
<section class="hfe-contribution-card__form-wrapper" [ngClass]="{'editionMode': isFormOpen }">
  <app-tabs class="hfe-contribution-card__center" [tabs]="tabs" (tabSelected)="onTabSelected($event)"></app-tabs>
  <div *ngIf="activeTab === formTab">
    <app-contribution-form (cancelChanges)="toogleForm()" (saveContribution)="onSaveContribution($event)" [(contributionModel)]="contributionCopy"
      *ngIf="isFormOpen"></app-contribution-form>
  </div>

  <div class="hfe-contribution-card__center" *ngIf="activeTab === dialogueTab">
    <app-dialogue [contributionId]="contributionCopy.id"></app-dialogue>
  </div>
</section>
