@import '../base/variables';
@import '../mixins/animations';

.hfe-contribution-card {
  background-color: $lighter-color;
  border: 1px solid $dark-color;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: $font-xs;
  line-height: $font-xl;
  margin-top: 1rem;
  padding: 1.5rem;

  &:hover {
    background-color: rgba($lighter-color, .5);
    border: 1px solid $primary-color;
    transition: all $transition-slow ease;
  }

  &__description {
    display: block;
    max-height: 3rem;
    overflow: hidden;
    transition: max-height $transition-slow ease-out;

    &.show-more {
      max-height: 50rem;
      transition: max-height $transition-slow ease-in;
    }
  }

  &__content {
    padding-right: 1rem;
    width: 60%;
  }

  &__bar {
    width: 30%;
  }

  &__details {
    color: $grey-color;
    display: flex;
    font-size: $font-xxs;
  }

  &__separator {
    &:after {
      content: '.';
      margin: 0 .5rem;
    }
  }

  &__button {
    color: $primary-color;
    cursor: pointer;
    display: flex;

    &:hover {
      color: $lighter-primary-color;
    }
  }

  &__edit {
    cursor: pointer;
    height: 1.5rem;
    opacity: 0;
    padding: 0 2.5rem;
    width: 10%;

    &.editionMode {
      opacity: 1;
    }

    &:hover, &.editTitleEnable  {
      .hfe-contribution-card__icon {
        transform: rotate(-45deg);
        transform-origin: center center;
        transition: all $transition-regular ease-in;
      }
    }
  }

  &__form-wrapper {
    background-color: $lighter-color;
    border: 1px solid $dark-color;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 0;
    display: none;
    max-height: 0;
    opacity: 0;

    &.editionMode {
      animation: openForm 2s ease-in;
      display: block;
      max-height: 80rem;
      opacity: 1;

      @include animationCard(openForm)
    }
  }

  textarea {
    border: none;
    padding: 0;
    height: 100px;
  }

  &__input {
    background: transparent;
    margin-bottom: .5rem;
    width: 100%;
  }

  &__center {
    display: block;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;

    @include tablet {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include desktop {
      padding-left: 7rem;
      padding-right: 7rem;
    }
  }
}
