@import '../base/variables';

.hfe-new-contribution {
  $border-button-radius: 20rem;

  background-color: $lighter-color;
  border: 1px solid $secondary-color;
  border-radius: .5rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: $font-xs;
  height: 5rem;
  align-items: center;
  line-height: $font-xl;
  padding: 0 1rem;
  margin-top: 1rem;

  &__form-wrapper {
    background-color: $lighter-color;
    border: 1px solid $dark-color;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 0;
  }

  &.isFormOpen {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:hover {
    background-color: rgba($secondary-color, .05);
    transition: all $transition-slow ease;

    .hfe-new-contribution__button {
      color: $darker-primary-color;
      transition: color $transition-regular ease;
    }

    .hfe-new-contribution__button-bg {
      background-color: rgba($lighter-color, .8);
      transition: background-color $transition-regular ease;

      &:before {
        animation: animateButton 1s ease-out;

        @keyframes animateButton {
          0% {
            left:.2rem;
            top:.2rem;
            height: 2.4rem;
            width: 2.4rem;
          }
          50% {
            left:.0;
            top: 0;
            height: 2.8rem;
            width: 2.8rem;
          }
          100% {
            left:.2rem;
            top:.2rem;
            height: 2.4rem;
            width: 2.4rem;
          }
        }
      }
    }
  }

  &__button {
    background-color: $lighter-color;
    border-radius: 20rem;
    color: $primary-color;
    display: flex;
    font-size: 2rem;
    height: 2rem;
    left: .43rem;
    line-height: 1rem;
    position: absolute;
    text-align: center;
    top: .43rem;
    width: 2rem;
    z-index: 1000;

    &:before {
      line-height: 2rem;
    }
  }

  &__button-bg {
    background: rgba($lighter-primary-color, .1);
    border-radius: $border-button-radius;
    height: 2.8rem;
    margin-right: 1rem;
    position: relative;
    width: 2.8rem;

    &:before {
      content: '';
      background: rgba($lighter-primary-color, .3);
      border-radius: 20rem;
      height: 2.4rem;
      left:.2rem;
      top:.2rem;
      position: absolute;
      width: 2.4rem;
    }
  }
}
