.hfa-range {
  $button-size: 1rem;
  $radius: 2rem;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__input {
    -webkit-appearance: none;
    appearance: none;
    flex: 1;
    height: 25px;
    background: $dark-color;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &:hover {
      opacity: 1;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:disabled::-webkit-slider-thumb {
      border: 3px solid $lighter-ok-color;
      cursor: not-allowed;
    }

    &:disabled::-moz-range-thumb {
      border: 3px solid $lighter-ok-color;
      cursor: not-allowed;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      background-color: $lighter-color;
      border: 3px solid $ok-color;
      border-radius: $radius;
      cursor: pointer;
      -webkit-appearance: none;
      height: $button-size;
      width: $button-size;
    }

    &::-moz-range-thumb {
      background-color: $lighter-color;
      border: 3px solid $ok-color;
      border-radius: $radius;
      cursor: pointer;
      height: $button-size;
      width: $button-size;
    }
  }

  input[type="range"]{
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, $ok-color),
        color-stop(0, $dark-color)
    );
    border-radius: $radius;
    height: .6rem;
    -webkit-appearance: none;
    -moz-apperance: none;
    transition: all .2s;
  }

  &__label {
    text-align: right;
    width: 20%;
  }
}
