<section class="hfe-new-contribution" [ngClass]="{'isFormOpen': isFormOpen}" (click)="toogleForm()">
  <div class="hfe-new-contribution__button-bg">
    <div class="hfe-new-contribution__button icon-add-solid"></div>
  </div>
  <span>{{'card.createNew' | translate}}</span>
</section>
<div class="hfe-new-contribution__form-wrapper" *ngIf="isFormOpen">
    <app-contribution-form (saveContribution)="onSaveContribution($event)" (cancelChanges)="toogleForm()" [creationMode]="true"></app-contribution-form>
</div>
