<section class="hfe-new-contribution" [ngClass]="{'isFormOpen': isFormOpen}" (click)="toogleForm()">
  <div class="hfe-new-contribution__button-bg">
    <div class="hfe-new-contribution__button"></div>
  </div>
  <span>{{'card.createNew' | translate}}</span>
</section>
<div class="hfe-new-contribution__form-wrapper" [ngClass]="{'isFormOpen': isFormOpen}">
    <app-contribution-form *ngIf="isFormOpen" (saveContribution)="onSaveContribution($event)" (cancelChanges)="toogleForm()" [creationMode]="true"></app-contribution-form>
</div>
