@import '../base/variables';

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin animationCard {
  @keyframes openForm {
    0% {
      opacity: 0;
      max-height: 0;
    }
    30% {
      opacity: 1;
      max-height: 40rem;
    }
    100% {
      max-height: 80rem;
    }
  }
}
