
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-calendar2:before {
  font-family: 'icomoon';
  content: "\e902";
}

.icon-send:before {
  font-family: 'icomoon';
  content: "\e901";
}

.icon-add-solid:before {
  font-family: 'icomoon';
  content: "\e900";
}
